body {
    font-family: helvetica, arial;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: #000 url(../img/body_bg.png) repeat-x;
    color: #efefef;
}

#container {
    height: 80%;
    margin: 20px auto;
    width: 90%;
}

h1 {
    font: bold 72px arial;
    margin: 0 0 10px 0;
    padding: 0px;
    color: #666;
    text-shadow: 0px 2px 3px #000;
}

p {
    margin-bottom: 20px;
}
.newsbox {
    text-align: left;
    width: 215px;
    background: #323740 url(../img/box_bg.png) repeat-x;
    border: 4px solid #8c94a1;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 5px #333;
    -moz-box-shadow: 0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
}

.newsbox ol {
    padding: 0px 10px 0 30px;
    margin: 10px;
    height: 300px;
    overflow: auto;
}


/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .newsbox ol { height: auto; }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
    .newsbox ol { height: auto; }
    .newsbox { width: 90%; }
}

.newsbox ol li {
    margin: 10px 0 0 0;
    padding: 0px;
    font: bold 18px/14px arial;
    color: #8492a5;
    padding-bottom: 10px;
    border-bottom: 1px dotted #696d74;
}

a {
    color: #bdc7d6;
    font: bold 12px/18px arial;
}

.newsbox li a {
    display: block;
}

a:hover {
    color: #dfe2ff;
}

.newsbox h2 {
    display: block;
    padding: 0px;
    background: #8c94a1;
    background-repeat: no-repeat;
    border-bottom: 3px solid #8c94a1;
    margin: 0px;
    padding: 0px;
    padding-left: 18px;
    font: bold 14px arial;
    color: #dfe2ff;
}

.newsbox h2 span {
    font: normal 11px arial;
    color: #bdc7d6;
    float: right;
}

h2.guardian { background-image: url(../img/icons/guardian.png); }
h2.bbc { background-image: url(../img/icons/bbc.png); }
h2.guardian { background-image: url(../img/icons/guardian.png); }
h2.independent { background-image: url(../img/icons/independent.png); }
h2.dailymail { background-image: url(../img/icons/mail.png); }
h2.themirror { background-image: url(../img/icons/mirror.png); }
h2.ft { background-image: url(../img/icons/ft.png); }
h2.thesun { background-image: url(../img/icons/sun.png); }
h2.telegraph { background-image: url(../img/icons/telegraph.png); }
