body {
    font-family: helvetica, arial;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background-color: #FAFBFA;
    color: #a4a4a4;
}

#container {
    height: 80%;
    margin: 20px auto;
    width: 90%;
}

h1 {
    font: 36px Times, Georgia, "Times New Roman", serif;
    margin: 0 0 30px 0;
    padding: 0px;
    color: #489cde;
    text-transform: uppercase;
    letter-spacing: 8px;
}

p {
    margin-bottom: 20px;
}

ul.sortable {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display:block;
    overflow:hidden
}

ul.sortable li {
    display: inline-block;
}

.newsbox {
    text-align: left;
    background: #fff;
    border: 1px solid #d2d4d4;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px #dcdcdc;
    -moz-box-shadow: 0px 0px 5px 0px #dcdcdc;
    box-shadow: 0px 0px 5px 0px #dcdcdc;
}

.newsbox ol {
    padding: 0px 10px 0 30px;
    margin: 10px;
    overflow: auto;
    list-style-type: decimal;
}

.newsbox ol li {
    margin: 10px 0 0 0;
    padding: 0px;
    font: 20px/13px Georgia, Times, "Times New Roman", serif;
    color: #489cde;
    padding-bottom: 10px;
    border-bottom: 1px solid #cbcbc5;
    list-style-type: decimal;
}

a {
    color: #4d4d4d;
    font: 12px/18px arial;
    text-decoration: none;
}

.newsbox li a {
    display: block;
}

a:hover {
    color: #489cde;
}

.newsbox h2 {
    display: block;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    padding-left: 32px;
    padding-bottom: 15px;
    font: bold 14px arial;
    color: #070707;
    border-bottom: 1px solid #cfcfcf;
    background: #fcfcfc no-repeat;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.newsbox h2 span {
    font: normal 10px Arial;
    color: #6e6e6f;
    float: right;
    margin-right: 5px;
    letter-spacing: 0;
    margin-top: 4px;
}

h2.guardian {
    background: #e6e6e6 url(../img/icons/guardian.png) no-repeat 8px 8px;
}

h2.bbc {
    background: #e6e6e6 url(../img/icons/bbc.png) no-repeat 8px 8px;
}

h2.independent {
    background: #e6e6e6 url(../img/icons/independent.png) no-repeat 8px 8px;
}

h2.dailymail {
    background: #e6e6e6 url(../img/icons/mail.png) no-repeat 8px 8px;
}

h2.themirror {
    background: #e6e6e6 url(../img/icons/mirror.png) no-repeat 8px 8px;
}

h2.ft {
    background: #e6e6e6 url(../img/icons/ft.png) no-repeat 8px 8px;
}

h2.thesun {
    background: #e6e6e6 url(../img/icons/sun.png) no-repeat 8px 8px;
}

h2.telegraph {
    background: #e6e6e6 url(../img/icons/telegraph.png) no-repeat 8px 8px;
}

h2.yahoonews {
    background: #e6e6e6 url(../img/icons/yahoo.png) no-repeat 8px 8px;
}

h2.meta {
    background: #e6e6e6 url(../img/icons/meta.png) no-repeat 8px 8px;
}

form#email-form {
    background: #efefef;
    width: 500px;
    margin: 0px auto;
    padding: 15px;
    overflow: hidden;
    border: 1px dotted #ccc;
    border-top: 5px solid #ccc;
}

form#email-form label {
    width: 100px;
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: #000;
    display: block;
    margin: 0 10px 20px 0;
    padding: 3px;
}

form#email-form input, form#email-form textarea {
    float: left;
    padding: 3px;
    font: 12px/20px georgia;
    color: #333;
}   

form#email-form input#send-email {
    padding: 3px 10px;
    clear: left;
}

form#email-form .form-feedback {
    color: red;
    float: left;
    margin: 6px 0px 0px 10px;
}

div.newsbox ol li {
    position: relative;
    padding-right: 16px;
}

span.up,
span.down {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0px; 
    top: 0px;   
}

span.up {
    background: url(../img/arrow_up.png) no-repeat;
}

span.down {
    background: url(../img/arrow_down.png) no-repeat;
}